h2, h3 {
    text-align: center;
}

.seal-img {
    width: 200px;
    height: 150px;   
    cursor: pointer;
}

.seal-img:hover {
    width: 220px;
    height: 170px;
}

.seal-img:active {
    width: 200px;
    height: 150px;
}

.seal-wrapper {
    position: relative;
    margin: 50px auto;
    max-width: fit-content;
    margin-top: 50px;
}

.counter-wrapper {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}